/* 字型引用 */
@font-face {
    font-family: 'GenJyuuGothic-Heavy';
    src: local("GenJyuuGothic-Heavy"),
        url('./fort/GenJyuuGothic-Heavy.woff') format("woff"),
        url('./fort/GenJyuuGothic-Heavy.ttf') format("opentype"),
        url('./fort/GenJyuuGothic-Heavy..eot') format("embedded-opentype");
}

:root {
    --MainBlue: #112448;
    --White: #f5f9ff;
    --Pink: #F2A0A7;
}


/* 字型 */
body {
    font-family: GenJyuuGothic-Heavy;
    overflow-x: hidden;
    margin: 0;
}

span {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: var(--MainBlue)
}

section {
    padding: 0 0 50px 0;
}

#CONTACAT {
    background-image: url(img/bg_star.png);
    background-repeat: repeat;


}

#ABOUT {
    background-color: var(--MainBlue);
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

#ABOUT>div {
    display: inline-flex;
    flex-direction: row;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    min-width: 300px;

}

#ABOUT>div>img {
    width: 30vw;
    padding-right: 50px;
}

#ABOUT>div>div>img {
    width: 10vw;
}

nav {
    background-color: rgba(228, 228, 228, 0.342);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1025;
    font-size: 1.4rem;
    color: var(--MainBlue);
    padding: 0 40px 0 10px;
}

nav>div>ul {
    display: flex;
}

nav>div>ul>li {
    list-style-type: none;
    text-align: center;
    margin: 0 30px;
}

nav>a:after,
nav>div>ul>li>a:after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--MainBlue);
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 250ms ease-in-out;
}

nav>a:hover:after,
nav>div>ul>li>a:hover:after {
    transform: scaleX(1);
}

#index {
    background-color: var(--MainBlue);
    position: relative;
}

#index>img {
    width: 100%;
    margin: auto;
}

#index>div {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 250px;
    top: 130px;
}

#index>div>span {
    font-size: 5rem;
    -webkit-text-stroke: 3px var(--White);
    color: transparent;
    border-radius: 10px;
    padding: 15px;
    letter-spacing: 0.02em;
}

.loop{
    animation: bounce infinite; 
}

.zoomIn{
    animation:zoomIn 0.1ms ;
}

#AWARDS {
    background-image: url(img/bg_award.png), url(img/bg_star.png);
    background-repeat: no-repeat, repeat;
    background-position: bottom left, center;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 0px;
    width: 100%;
}

#AWARDS>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
    padding: 0px 0px 30px 100px;

}

#AWARDS>div>img {
    width: 50%;
}

#AWARDS>div>div {
    display: flex;
    flex-direction: column;
}

#AWARDS div>span.title2{
    color: aqua;
}

#AWARDS div>span.title_txt{
    color:var(--MainBlue);
    font-size: 3rem;
}

#PORTFOLIO {
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/bg_boder.png),url(img/bg_bodertop.png), url(img/bg.png);
    background-repeat: repeat-x,repeat-x, repeat;
    background-position: top,bottom,center;
}

#PORTFOLIO>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#P_draw{
    text-align: center;
}

#P_animate>div>a>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--Pink);
    border-radius: 30px;
    background-color: var(--White);
    padding: 0px 0px 30px 0px;
    transition: transform 0.3s ease;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 10px 10px 15px 0px rgba(176, 176, 176, 1);
    box-shadow: 10px 10px 15px 0px rgba(176, 176, 176, 1);
}

#P_animate>div>a>div:hover {
    transform: translateY(-10%);
}

#card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#card>a {
    padding: 40px 20px;

}

#P_animate>div>a>div>img {
    width: 25vw;
    margin-bottom: 40px;
    border-radius: 30px 30px 0 0;
}

#P_animate{
    padding: 80px 0;
}

#P_foodwar>div{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#P_foodwar>div>div>div{
    display: flex;
    padding: 50px 0;
}
/* ------------------------ */
 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

/* ----------------------------------- */


#SCHOOL_CLUB {
    background-image: url(img/bg_star.png);
    display: flex;
    justify-content: center;
    padding: 100px 0 60px 100px;
    position: relative;
    color: var(--White);
}


#SCHOOL_CLUB>div:nth-child(1) {
    width: 35vw;
}


#SCHOOL_CLUB>div:nth-child(2) {
    padding: 30px 10px;

}

#SCHOOL_CLUB>div:nth-child(3) {
    padding: 300px 10px 0px 10px;

}

#SCHOOL_CLUB>div:nth-child(1)>img:nth-child(1){
    width: 20vw;
    margin:30px 0px;
}

#SCHOOL_CLUB span.title2{
    color: aqua;
}



.CLUB_photo {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.CLUB_photo img {
    margin: 10px;
    border-radius: 25px;
    border: 2px;
}


#CLUB_photo2 {
    margin-top: 200px;
}

#Banana_UFO {
    position: sticky;
    top: 0;
    width: 20vw;
    float: right;
    padding-top: 70px;

}

#CLUB_text {
    width: 70%;
    color: var(--White);

}

.titleimg {
    width: 20vw;
}

.title_txt {
    font-size: 2.5rem;
}

.title2{
    font-size: 2rem;
    margin: 10px 0px;
}

.SongDetail{
    position:fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index:50 ;
}

.otherDetail{
    position:fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index:50 ;
}

#P_draw>dialog>figcaption{
    display: flex;
    align-items: center;
    justify-content: center;
}

#P_draw>dialog img{
    width: 45vw;
    padding: 30px;
}

.spece{
    margin: 80px 0px 30px 0px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .wrapper>div{
    width: 350px;
    height: 300px;
    overflow: hidden;
    background-color: #fff;
  }

  .wrapper>div>img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
  }

  .wrapper>div>img:hover{
    opacity: 50%;
  }

#CONTACT {
    background-image: url(img/bg_star.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mail>form {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#mail>form>div:last-child>input{
width: 5vw;
height: 50px;
background-color: #F2A0A7;
color: var(--White);
font-size: 1.2rem;
font-family: GenJyuuGothic-Heavy;

}


/* 背景裝飾 */
#BG_bubble {
    position: absolute;
    top: 0;
    left: -30px;
    rotate: 45deg;
    width: 10vw;
}

#BG_bubble1 {
    position: absolute;
    top: 0;
    right: 30px;
    rotate: 45deg;
    width: 12vw;
}

#BG_bubble2 {
    position: absolute;
    bottom: 10px;
    left: 20px;
    rotate: 45deg;
    width: 5vw;
}

#BG_bubble3 {
    position: absolute;
    top: 220px;
    left: 100px;
    width: 5vw;
}

#BG_bubble4 {
    position: absolute;
    bottom:0;
    right: 200px;
    rotate: 45deg;
    width: 8vw;
}

#Banana_Talk {
    position: absolute;
    bottom: 80px;
    left: 450px;
    width: 25vw;
}

#bodertop {
    position: absolute;
    top: -170px;
    left: 0;
    width: 100%;
    overflow: hidden;

}

input {
    border: 0px;
    border-radius: 5px;

}

textarea {
    border: 0px;
    border-radius: 5px;
}
