/* 字型引用 */
@font-face {
    font-family: 'GenJyuuGothic-Heavy';
    src: local("GenJyuuGothic-Heavy"),
        url('../fort/GenJyuuGothic-Heavy.woff') format("woff"),
        url('../fonts/GenJyuuGothic-Heavy.ttf') format("opentype"),
        url('../fonts/GenJyuuGothic-Heavy..eot') format("embedded-opentype");
}

:root {
    --MainBlue: #112448;
    --White: #f5f9ff;
    --Pink:#F2A0A7;
}


/* 字型 */
body {
    font-family: GenJyuuGothic-Heavy;
    overflow-x: hidden;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--MainBlue)
}

/* 字體大小 */
p {
    font-size: 1.2rem;
}

/* 測試背景顏色 */

#SCHOOL_CLUB {
    background-image: url(./img/bg_star.png);
}

#CONTACAT {
    background-image: url(./img/bg_star.png);
    background-repeat: repeat;


}

#ABOUT {
    background-color: var(--MainBlue);
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

#ABOUT>div {
    display: inline-flex;
    flex-direction: row;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    
}

#ABOUT>div>img{
    max-width: 30vw;
    min-width:400px;
    padding-right: 50px;
}

#ABOUT>div>div>img{
    width: 10vw;
}

nav {
    background-color: rgba(228, 228, 228, 0.342);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1025;
    font-size: 1.4rem;
    color: var(--MainBlue);
    padding: 0 20px;
}

nav>div>ul {
    display: flex;
}

nav>div>ul>li {
    list-style-type: none;
    text-align: center;
    margin: 0 30px;
}

#index {
    background-color: var(--MainBlue);
    position: relative;
}

#index>img {
    width: 100%;
    margin: auto;
}

#index>div {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 250px;
    top: 130px;
}

#index>div>span {
    font-size: 5rem;
    -webkit-text-stroke: 3px var(--White);
    color: transparent;
    border-radius: 10px;
    padding: 15px;
    letter-spacing: 0.02em;
}

#AWARDS {
    background-image: url(../img/bg_star.png);
    background-repeat: repeat;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 0px;
    width: 100%;
}

#AWARDS>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
    background-image: url(../img/bg_award.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 30px 100px;

}

#AWARDS>div>img {
    width: 50%;
}

#PORTFOLIO_T {
    color: #F2A0A7;
    border: 6px;
    border-style: dashed;
    background-color: var(--White);
    border-color: #F2A0A7;
    border-radius: 25px;
    padding: 30px;
    height: 280px;
}

#PORTFOLIO {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg_boder.png), url(../img/bg.png);
    background-repeat: repeat-x, repeat;
}





#SCHOOL_CLUB {
    display: flex;
    justify-content: center;
    padding: 100px 0 60px 100px;
}

.CLUB_photo {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.CLUB_photo img {
    margin: 10px;
    border-radius: 25px;
    border: 2px;
}


#CLUB_photo2 {
    margin-top: 200px;
}

bubble #Banana_UFO {
    float: right;

}

#CLUB_text {
    width: 70%;
    color: var(--White);

}

h3 {
    color: rgb(92, 243, 243);
}

#CONTACAT {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mail>form {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;


}



/* 區塊寬度設定 */

#CONTACAT {
    padding-bottom: 80px;
}

#collapse {
    margin: 0 150px;
    width: 80%;
}


/* 背景裝飾 */


#BG_bubble {
    position: absolute;
    top: 0;
    left: -30px;
    rotate: 45deg;
    width: 10vw;
}

#Banana_Talk {
    position: absolute;
    bottom: 80px;
    left: 450px;
    width: 25vw;
}

/* #boder {
    position: absolute;
    bottom: -100px;
    left: 0;
    height: 100px;
    overflow: hidden;
    border: 3px solid rebeccapurple;
} */

#SCHOOL_CLUB {
    position: relative;
}

#bodertop {
    position: absolute;
    top: -170px;
    left: 0;
    width: 100%;
    overflow: hidden;

}

input {
    border: 0px;
    border-radius: 5px;

}

textarea {
    border: 0px;
    border-radius: 5px;
}



/* 跑馬燈 */

.marquee {
    overflow: hidden;
    padding-top: 50px;
}

.marquee-content {
    display: flex;
    animation: scrolling 40s linear infinite;
}

.marquee-item {
    /* flex: 0 0 16vw;
    margin: 0 1vw; */
    flex: 0 0 30vw;
    margin: 0 1vw;
}

.marquee-item img {
    display: block;
    width: 100%;
    /* padding: 0 20px; */
    border-radius: 25px;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(-144vw);
    }
}